In [2]:
import pandas as pd

Sample DataFrames for merging and concatenation

In [18]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22]
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

Task 1: Merge two DataFrames on a single key

In [6]:
df_merged_single = pd.merge(df1, df2, on='ID', how='outer') #inner is also a join
print("\nTask 1: Merge on a single key (Outer join):\n", df_merged_single)

Task 1: Merge on a single key (Outer join):
    ID     Name   Age         City
0   1    Alice  24.0          NaN
1   2      Bob  27.0     New York
2   3  Charlie  22.0  Los Angeles
3   4      NaN   NaN      Chicago


Task 2: Merge two DataFrames on multiple keys

In [16]:
df3 = pd.DataFrame({
    'ID': [1, 2, 3],
    'City': ['New York', 'Los Angeles', 'Chicago']})
df4 = pd.DataFrame({
    'ID': [1, 2, 3],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Salary': [50000, 60000, 70000]
})

In [17]:
df_merged_multiple = pd.merge(df3, df4, on=['ID','City'], how='left')
print("\nTask 2: Merge on multiple keys (left join):\n", df_merged_multiple)

Task 2: Merge on multiple keys (left join):
    ID         City  Salary
0   1     New York   50000
1   2  Los Angeles   60000
2   3      Chicago   70000

Task 3: Perform outer join, inner join, left join, and right join

In [19]:
df_outer = pd.merge(df1, df2, on='ID', how='outer')
df_inner = pd.merge(df1, df2, on='ID', how='inner')
df_left = pd.merge(df1, df2, on='ID', how='left')
df_right = pd.merge(df1, df2, on='ID', how='right')

print("\nTask 3: Outer Join:\n", df_outer)
print("\nTask 3: Inner Join:\n", df_inner)
print("\nTask 3: Left Join:\n", df_left)
print("\nTask 3: Right Join:\n", df_right)

Task 3: Outer Join:
    ID     Name   Age         City
0   1    Alice  24.0          NaN
1   2      Bob  27.0     New York
2   3  Charlie  22.0  Los Angeles
3   4      NaN   NaN      Chicago

Task 3: Inner Join:
    ID     Name  Age         City
0   2      Bob   27     New York
1   3  Charlie   22  Los Angeles

Task 3: Left Join:
    ID     Name  Age         City
0   1    Alice   24          NaN
1   2      Bob   27     New York
2   3  Charlie   22  Los Angeles

Task 3: Right Join:
    ID     Name   Age         City
0   2      Bob  27.0     New York
1   3  Charlie  22.0  Los Angeles
2   4      NaN   NaN      Chicago

Task 4: Concatenate two DataFrames along rows (vertical)

In [20]:
df_concat_rows = pd.concat([df1, df2], axis=0, ignore_index=True)
print("\nTask 4: Concatenate along rows:\n", df_concat_rows)

Task 4: Concatenate along rows:
    ID     Name   Age         City
0   1    Alice  24.0          NaN
1   2      Bob  27.0          NaN
2   3  Charlie  22.0          NaN
3   2      NaN   NaN     New York
4   3      NaN   NaN  Los Angeles
5   4      NaN   NaN      Chicago

Task 5: Concatenate two DataFrames along columns (horizontal)

In [21]:
df_concat_columns = pd.concat([df1, df2], axis=1)
print("\nTask 5: Concatenate along columns:\n", df_concat_columns)

Task 5: Concatenate along columns:
    ID     Name  Age  ID         City
0   1    Alice   24   2     New York
1   2      Bob   27   3  Los Angeles
2   3  Charlie   22   4      Chicago

Task 6: Concatenate a list of DataFrames

In [22]:
df_list = [df1, df2, df3]
df_concat_list = pd.concat(df_list, ignore_index=True)
print("\nTask 6: Concatenate a list of DataFrames:\n", df_concat_list)

Task 6: Concatenate a list of DataFrames:
    ID     Name   Age         City
0   1    Alice  24.0          NaN
1   2      Bob  27.0          NaN
2   3  Charlie  22.0          NaN
3   2      NaN   NaN     New York
4   3      NaN   NaN  Los Angeles
5   4      NaN   NaN      Chicago
6   1      NaN   NaN     New York
7   2      NaN   NaN  Los Angeles
8   3      NaN   NaN      Chicago

Task 7: Reshape data using melt function (wide to long format)

In [24]:
df_wide = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 90, 88],
    'English': [92, 84, 91]
})
df_wide

      Name  Math  English
0    Alice    85       92
1      Bob    90       84
2  Charlie    88       91

In [25]:
df_long = pd.melt(df_wide, id_vars=['Name'], value_vars=['Math', 'English'], var_name='Subject', value_name='Score')
print("\nTask 7: Melt function (wide to long):\n", df_long)

Task 7: Melt function (wide to long):
       Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     90
2  Charlie     Math     88
3    Alice  English     92
4      Bob  English     84
5  Charlie  English     91

Task 8: Create a pivot table to summarize data

In [26]:
df_pivot = pd.pivot_table(df_merged_single, values='Age', index='Name', columns='City', aggfunc='mean')
print("\nTask 8: Pivot table to summarize data:\n", df_pivot)

Task 8: Pivot table to summarize data:
 City     Los Angeles  New York
Name
Bob              NaN      27.0
Charlie         22.0       NaN

Task 9: Group data by one or more columns and perform aggregation functions

In [27]:
df_grouped = df1.groupby('Age').agg({'ID': 'count', 'Name': 'first'})
print("\nTask 9: Group by one column and perform aggregation:\n", df_grouped)

Task 9: Group by one column and perform aggregation:
      ID     Name
Age
22    1  Charlie
24    1    Alice
27    1      Bob

Task 10: Apply multiple aggregation functions to grouped data

In [28]:
df_grouped_multiple = df1.groupby('Age').agg({'ID': ['count', 'sum'], 'Name': 'first'})
print("\nTask 10: Apply multiple aggregation functions:\n", df_grouped_multiple)

Task 10: Apply multiple aggregation functions:
        ID         Name
    count sum    first
Age
22      1   3  Charlie
24      1   1    Alice
27      1   2      Bob

Task 11: Use the groupby function to group data and apply custom functions

In [29]:
def custom_agg(group):
    return group['Age'].mean()

df_grouped_custom = df1.groupby('Name').apply(custom_agg)
print("\nTask 11: Group by 'Name' and apply custom aggregation function:\n", df_grouped_custom)

Task 11: Group by 'Name' and apply custom aggregation function:
 Name
Alice      24.0
Bob        27.0
Charlie    22.0
dtype: float64

<ipython-input-29-ec7eac03937a>:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_grouped_custom = df1.groupby('Name').apply(custom_agg)