If else

In [5]:
n = int(input("Enter a Number "))
if n%2 == 0:
  print(f"{n} is Even")
else:
  print(f"{n} is Odd")

Enter a Number 1
1 is Odd

For Loop

In [6]:
n = int(input("Enter No: "))
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")

Enter No: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [30]:
for i in range(1,6):
  for j in range (0,i):
    print("*" , end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [31]:
for i in range(5,0,-1):
  for j in range (0,i):
    print("*" , end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

In [34]:
for i in range (6,0,-1):
  for j in range(0,i):
    print(" ", end= "")
  for k in range(0,6-j):
    print("*", end= "")
  print()

      *
     **
    ***
   ****
  *****
 ******

In [36]:
for i in range (6,0,-1):
  for j in range(0,6-i):
    print(" ", end = "")
  for k in range (i,0,-1):
    print("*", end= "")
  print()

******
 *****
  ****
   ***
    **
     *

Even Numbers

In [53]:
for i in range (0,50):
  if(i%2 == 0):
    print(i,end= " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

Reverse a Number

In [54]:
n = int(input("Enter a Number"))
st = ""
while(n%10 !=0):
  st = st + str(n%10)
  n//=10
print(st)

Enter a Number1234
4321

Factorial

In [59]:
n = int(input("Enter a Number "))
n1 = n
fact = 1
while n!=1:
  fact=fact*n
  n=n-1
print(f"Factorial of {n1} is {fact}")

Enter a Number 4
Factorial of 4 is 24

Function

In [61]:
def greet(name = "Bilal"):
  print(f"Hello, {name}")
greet()
greet("Umer")

Hello, Bilal
Hello, Umer