Practice Examples of List

In [14]:
# Creating a list
my_list = [1, 2, 3, "Python", 3.14]

# Creating an empty list
empty_list = []

In [15]:
print(my_list[0])

1

In [16]:
# Slicing
print(my_list[1:3])

[2, 3]

Adding Elements

In [17]:
my_list.append(10)
my_list.insert(2, "Inserted New Data")  # Inserts at index 2
print(my_list)

[1, 2, 'Inserted New Data', 3, 'Python', 3.14, 10]

In [18]:
my_list.pop(3)

3

In [19]:
print(my_list)

[1, 2, 'Inserted New Data', 'Python', 3.14, 10]

In [22]:
# Checking membership
print(3.14 in my_list)

True

In [23]:
# Iterating through a list
for item in my_list:
    print(item)

1
2
Inserted New Data
Python
3.14
10

In [25]:
# List Comprehension
squares = [x**2 for x in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [26]:
my_list[1] = 5

In [27]:
my_list

[1, 5, 'Inserted New Data', 'Python', 3.14, 10]

Practice Examples of Tuple

In [28]:
my_tuple = (1, 2, 3, "Python", 3.14)

In [29]:
my_tuple

(1, 2, 3, 'Python', 3.14)

In [31]:
# Tuple unpacking to assign all tuple values to new variables
a, b, c, d, e = my_tuple
print(a, b, e)

1 2 3.14

Set

In [32]:
my_set = {1, 2, 3, 4, 5}
empty_set = set()

In [38]:
print(my_set)
empty_set

{1, 2, 3, 4, 5}

{5}

In [49]:
my_set.add(7)

In [50]:
my_set

{1, 2, 3, 4, 5, 7}

In [48]:
#add list in set to print unique numbers
unique_numbers = set([1, 2, 2, 3, 4, 4,5])
print(unique_numbers)

{1, 2, 3, 4, 5}

In [51]:
my_set.discard(4)
my_set.pop()

1

In [52]:
my_set

{2, 3, 5, 7}

In [53]:
# Set operations
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

Dictionary

In [54]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [57]:
print(my_dict["name"])

Alice

In [55]:
empty_dict = {}

In [56]:
# Alternative way using dict()
another_dict = dict(name="Bob", age=30)

In [59]:
print(my_dict.get("age"))
print(my_dict.get("salary", "Not Found"))

25
Not Found

In [62]:
my_dict["job"] = "Engineer"
my_dict["age"] = 26
my_dict["height"] = 6.2

In [64]:
my_dict

{'name': 'Alice',
 'age': 26,
 'city': 'New York',
 'job': 'Engineer',
 'height': 6.2}

In [65]:
del my_dict["city"]

In [66]:
my_dict

{'name': 'Alice', 'age': 26, 'job': 'Engineer', 'height': 6.2}

In [67]:
# Iterating through a dictionary
for key, value in my_dict.items():
    print(key, ":", value)

name : Alice
age : 26
job : Engineer
height : 6.2

In [70]:
# Dictionary comprehension
squared_numbers = {x: x**2 for x in range(5)}
print(squared_numbers)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Small Project

In [71]:
students = {
    "101": {"name": "Ali", "age": 20, "marks": 85, "grade": "A"},
    "102": {"name": "Sara", "age": 22, "marks": 78, "grade": "B"},
    "103": {"name": "Ahmed", "age": 21, "marks": 90, "grade": "A+"}
}

In [73]:
# Accessing a specific student's details
print(students["103"])

{'name': 'Ahmed', 'age': 21, 'marks': 90, 'grade': 'A+'}

In [74]:
# Accessing a specific attribute
print(students["102"]["marks"])

78

In [75]:
#Add new student
students["104"] = {"name": "Fatima", "age": 23, "marks": 88, "grade": "A"}

print(students["104"])

{'name': 'Fatima', 'age': 23, 'marks': 88, 'grade': 'A'}

In [76]:
students

{'101': {'name': 'Ali', 'age': 20, 'marks': 85, 'grade': 'A'},
 '102': {'name': 'Sara', 'age': 22, 'marks': 78, 'grade': 'B'},
 '103': {'name': 'Ahmed', 'age': 21, 'marks': 90, 'grade': 'A+'},
 '104': {'name': 'Fatima', 'age': 23, 'marks': 88, 'grade': 'A'}}

In [77]:
students["101"]["marks"] = 90
students["101"]["grade"] = "A+"

print(students["101"])

{'name': 'Ali', 'age': 20, 'marks': 90, 'grade': 'A+'}

Inventory Management

In [28]:
class InventoryManagement:
    def __init__(self):
        self.products = {}  # Dictionary to store product details
        self.product_order = []  # List to maintain order of product additions
        self.categories = set()  # Set to track unique categories

    def add_product(self, product_id, name, category, stock):
        if product_id in self.products:
            return "Product ID already exists."
        self.products[product_id] = {'info': (name, category), 'stock': stock}
        self.product_order.append(product_id)
        self.categories.add(category)
        return f"Product {name} added successfully."

    def update_stock(self, product_id, quantity):
        if product_id in self.products:
            self.products[product_id]['stock'] += quantity
            return f"Stock updated for {self.products[product_id]['info'][0]}: {self.products[product_id]['stock']}"
        return "Product ID not found."

    def display_products(self):
        if not self.products:
            return "No products available."
        return "\n".join([
            f"ID: {pid}, Name: {self.products[pid]['info'][0]}, Category: {self.products[pid]['info'][1]}, Stock: {self.products[pid]['stock']}"
            for pid in self.product_order
        ])

    def display_by_category(self, category):
        filtered_products = [
            f"ID: {pid}, Name: {self.products[pid]['info'][0]}, Stock: {self.products[pid]['stock']}"
            for pid in self.product_order if self.products[pid]['info'][1] == category
        ]
        return "\n".join(filtered_products) if filtered_products else "No products found in this category."

# Interactive User Input
def main():
    inventory = InventoryManagement()
    while True:
        print("\n1. Add Product")
        print("2. Update Stock")
        print("3. Display All Products")
        print("4. Display Products by Category")
        print("5. Exit")
        choice = input("Enter your choice: ")

        if choice == "1":
            product_id = input("Enter Product ID: ")
            name = input("Enter Product Name: ")
            category = input("Enter Product Category: ")
            stock = int(input("Enter Stock Quantity: "))
            print(inventory.add_product(product_id, name, category, stock))

        elif choice == "2":
            product_id = input("Enter Product ID: ")
            quantity = int(input("Enter Quantity to Add: "))
            print(inventory.update_stock(product_id, quantity))

        elif choice == "3":
            print("\nInventory List:")
            print(inventory.display_products())

        elif choice == "4":
            category = input("Enter Category: ")
            print("\nProducts in", category, ":")
            print(inventory.display_by_category(category))

        elif choice == "5":
            print("Exiting... Goodbye!")
            break

        else:
            print("Invalid choice, please try again.")

if __name__ == "__main__":
    main()

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 1
Enter Product ID: 12
Enter Product Name: le
Enter Product Category: S
Enter Stock Quantity: 2
Product le added successfully.

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 3

Inventory List:
ID: 12, Name: le, Category: S, Stock: 2

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 1
Enter Product ID: 2
Enter Product Name: Kisan
Enter Product Category: Oil
Enter Stock Quantity: 23
Product Kisan added successfully.

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 1
Enter Product ID: 43
Enter Product Name: Habib
Enter Product Category: Oil
Enter Stock Quantity: 12
Product Habib added successfully.

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 3

Inventory List:
ID: 12, Name: le, Category: S, Stock: 2
ID: 2, Name: Kisan, Category: Oil, Stock: 23
ID: 43, Name: Habib, Category: Oil, Stock: 12

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 4
Enter Category: Oil

Products in Oil :
ID: 2, Name: Kisan, Stock: 23
ID: 43, Name: Habib, Stock: 12

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 2
Enter Product ID: 43
Enter Quantity to Add: 15
Stock updated for Habib: 27

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 3

Inventory List:
ID: 12, Name: le, Category: S, Stock: 2
ID: 2, Name: Kisan, Category: Oil, Stock: 23
ID: 43, Name: Habib, Category: Oil, Stock: 27

1. Add Product
2. Update Stock
3. Display All Products
4. Display Products by Category
5. Exit
Enter your choice: 5
Exiting... Goodbye!